/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (min-width: 900px) {
  .parallax-container {
    height: auto;
  }
}

@media only screen and (max-width: 400px) {
  .parallax-container {
    height: 600px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/****************************************/
.header {
  color: #dd9d18;
  text-shadow: 0 0 5px #000;
}
#logo-container {
  position: relative;
  margin-top: -20px;
}
#logo-container .amm-logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url('/assets/images/amm-logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#logo-container .estadual {
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
